
<ion-view view-title="GPRAG - Bem Vindo" hide-nav-bar="true" class="view-background" >

<ion-pane class="home-panel">

    <header class="topo">
      <img src="img/ionic.png" width="150" height="150" class="center-block img-center" />
      <h3 class="logo">G-Prag 1.0</h3>
    </header>

    <span class="button-home">
      <button id="botao-home-id" class="button button-block button-assertive" ng-click="ctrl.listarAvisos()" >
          <b>AVISOS (12)</b>
      </button>
    </span>
    <span class="button-home">
      <button id="botao-home-id" class="button button-block button-balanced" ng-click="ctrl.novoCadastroCliente()" >
        <b>Cadastrar novo cliente</b>
      </button>
    </span>
    <span class="button-home">
      <button id="botao-home-id" class="button button-block button-balanced" ng-click="ctrl.novoCadastroTrabalho()" >
        <b>Cadastrar novo trabalho</b>
      </button>
    </span>
    <span class="button-home">
      <button id="botao-home-id" class="button button-block button-balanced" ng-click="ctrl.buscarCliente()" >
        <b>Buscar Cliente</b>
      </button>
    </span>

</ion-pane>
</ion-view>
