.content-cadastro-cliente{
  padding: 5%;
}
.login-input{
  border:none;
  box-shadow:none;
  padding: 5px 0 5px 10px;
  font-size: 1.6em;
  height:auto;
	border-bottom: 1px solid #fff;
  background:none;
  color: #11c1f3;
}
.login-input .input{
  background:none;
  color: #FFF;
  font-size: 0.8em;
}
#periodo-necessidade, #periodo-necessidade-picker{
  background: none;
  color: white;
  border: none;
}

.input-center{
  text-align: center;
  color: white;
  border: none;


}
