.content-cadastro-trabalho{
  padding: 5%;
  background:none;
}

.job-input{
  border:none;
  padding: 5px 0 5px 10px;
  font-size: 1.3em;
	border-bottom: 1px solid #fff;
  background:none;
  color: #11c1f3;
}

.client-select{
  border: none;
  font-size: 1.0em;
  color: #33cd5f;
}
.client-checkbox{
  background: none;
  border: none;
  color: white;  font-weight: bold;
  display: block
}
.job-input .input{
  background:none;
  color: #FFF;
  font-size: 0.8em;
}

.input-center{
  text-align: center;
  color: white;
  border: none;
}

#periodo-necessidade, #periodo-necessidade-picker{
  background: none;
  color: white;
  border: none;
  font-weight: bold;
}
