.client-input{
  border:none;
  padding: 0px 0 0px 5px;
  font-size: 1.4em;
  background:none;
  color: #11c1f3;
}
.client-input .input{
  background:none;
  color: #FFF;
  font-size: 0.8em;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.client-input-ativo{
  display: flex;
  padding: 0px 0 0px 5px;
  font-size: 1.4em;
}

.client-toggle{
  background: none;
  border: none;
  display: list-item;
  width: 100%;
}

.div-prorrogar{
  display: flex;
}

#botao-prorrogar{
  margin: 10px 20px 0px 20px;
}
