.job-input{
  border:none;
  padding: 5px 0 5px 10px;
  font-size: 1.3em;
	border-bottom: 1px solid #fff;
  background:none;
  color: #11c1f3;
}
.job-input .input{
  background:none;
  color: #FFF;
  font-size: 0.8em;
}

.list-checkbox{
  display: inline-flex;
  flex-wrap: wrap;
}

.client-select{
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
  background: #b3d9ff;
  border-radius: 10px;
  width:70%;
}

.job-checkbox{
  background: none;
  border: none;
  color: white;  font-weight: bold;
  padding: 5px 0 5px 50px;
}
