/* Empty. Add your own CSS if you like */

.home-panel, .gprag-panel{
  padding: 5%;
  background-color: #003;

  /*background-color: #003;*/
}
.button-home{
  padding-bottom: 30px;
}

.img-center {
    display: block;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.logo{
  text-align:center;
  color: #33cd5f;

}
#botao-home-id{
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}
